.table {
  margin: 0;
  padding: 0;
  text-align: start;
  margin-bottom: 30px;

  &__row {
    display: grid;
    grid-template-columns: 309px 352px;
    border-bottom: 1px solid #ddd;
    position: relative;
    line-height: 56px;

    &--last {
      border-bottom: none;
    }
  }
}

dt {
  margin: 0;
  color: #313131;
  opacity: 70%;
}

dd {
  margin: 0;
  font-weight: 600;
  padding-left: 16px;
  border-left: 1px solid #ddd;
}

/* зачёркнутый текст */
.old {
  text-decoration: line-through;
  text-decoration-color: #F54932;
  color: #313131;
  margin-right: 8px;
}

@media (max-width: 768px) {
  .table {

    display: flex;
    flex-direction: column;
    gap: 15px;

    margin-bottom: 22px;

    &__row {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-bottom: 16px;

      &--horizontal {
        flex-direction: row;
      }
    }
  }

  dd {
    padding: 0;
    border: none;
    line-height: 120%;
  }

  dt {
    line-height: 120%;
  }
}
